<h1>Pipes</h1>
<md-tab-group>
    <md-tab label="Currency Pipe">
        <md-card>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <pre ngNonBindable>{{1234.56 | currency: 'USD'}} - </pre>
                        <p>{{1234.56 | currency: 'USD'}}</p>
                    </md-list-item>
                    <md-list-item>
                        <pre ngNonBindable>{{1234.56 | currency: 'USD': true}} - </pre>
                        <p>{{1234.56 | currency: 'USD': true}}</p>
                    </md-list-item>
                    <md-list-item>
                        <pre ngNonBindable>{{1234.56 | currency: 'USD' | lowercase}} - </pre>
                        <p>{{1234.56 | currency: 'USD' | lowercase}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </md-tab>
    <md-tab label="Date Pipe">
        <md-card>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <pre ngNonBindable>{{dateNow | date: 'shortTime'}} - </pre>
                        <p>{{dateNow | date: 'shortTime'}}</p>
                    </md-list-item>
                    <md-list-item>
                        <pre ngNonBindable>{{dateNow | date: 'fullDate'}} - </pre>
                        <p>{{dateNow | date: 'fullDate'}}</p>
                    </md-list-item>
                    <md-list-item>
                        <pre ngNonBindable>{{dateNow | date: 'shortDate'}} - </pre>
                        <p>{{dateNow | date: 'shortDate'}}</p>
                    </md-list-item>
                    <md-list-item>
                        <pre ngNonBindable>{{dateNow | date: 'd/M/y'}} - </pre>
                        <p>{{dateNow | date: 'd/M/y'}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </md-tab>
    <md-tab label="Decimal Pipe">
        <md-card>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <pre ngNonBindable>{{ 3.1234 | number: '3.1-3'}} - </pre>
                        <p>{{ 3.1234 | number: '3.1-3'}}</p>
                    </md-list-item>
                    <md-list-item>
                        <pre ngNonBindable>{{1.23456 | number: '3.4-5'}} - </pre>
                        <p>{{1.23456 | number: '3.4-5'}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </md-tab>
    <md-tab label="Json Pipe">
        <md-card>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <pre ngNonBindable>{{jsonVal}} - </pre>
                        <p>{{jsonVal}}</p>
                    </md-list-item>
                    <md-list-item>
                        <pre ngNonBindable>{{jsonVal | json}} - </pre>
                        <p>{{jsonVal | json}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </md-tab>
    <md-tab label="LowerCase and UpperCase Pipe">
        <md-card>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <pre ngNonBindable>{{"RAJU" | lowercase}} - </pre>
                        <p>{{"RAJU" | lowercase}}</p>
                    </md-list-item>
                    <md-list-item>
                        <pre ngNonBindable>{{"raju" | uppercase}} - </pre>
                        <p>{{"raju" | uppercase}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </md-tab>
    <md-tab label="Percent Pipe">
        <md-card>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <pre>0.12 - </pre>
                        <p>{{0.12 | percent}}</p>
                    </md-list-item>
                    <md-list-item>
                        <pre>0.12 - </pre>
                        <p>{{0.121 | percent: '2.1-3'}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </md-tab>
    <md-tab label="Slice Pipe">
        <md-card>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <pre ngNonBindable>{{[1,2,3,4,5,6] | slice:1:3}} - </pre>
                        <p>{{[1,2,3,4,5,6] | slice:1:3}}</p>
                    </md-list-item>
                    <md-list-item>
                        <pre ngNonBindable>{{[1,2,3,4,5,6] | slice:2}} - </pre>
                        <p>{{[1,2,3,4,5,6] | slice:2}}</p>
                    </md-list-item>
                    <md-list-item>
                        <pre ngNonBindable>{{[1,2,3,4,5,6] | slice:2:-2}} - </pre>
                        <p>{{[1,2,3,4,5,6] | slice:2:-2}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </md-tab>
    <md-tab label="Async Pipe">
        <md-card>
            <md-card-content>
                <async-pipe></async-pipe>
            </md-card-content>
        </md-card>
    </md-tab>
    <md-tab label="Custom Pipe">
        <md-card>
            <md-card-content>
                <pre ngNonBindable>{{ customPipeString | default: "Default String"}}</pre>
                <p>{{ customPipeString | default: "Default String"}}</p>
                <br>
                <pre ngNonBindable>{{"" | default: "Default String"}}</pre>
                <p>{{ "" | default: "Default String"}}</p>
            </md-card-content>
        </md-card>
    </md-tab>
</md-tab-group>